<div class="py-5 fs-2 text-center">
  <div class="pt-5">DVDs</div>
</div>
<div class="content"  >
  <mat-card  class="cards" *ngFor="let dvd of dvds" >
    <mat-card-title class="title" style="font-size: 20px;">{{dvd.title}}</mat-card-title>
    <h6  style="color: rgb(107, 107, 107);font-size: 14px;">{{dvd.mpaa_rating}}</h6>
    <h5  style="font-size: 16px;">{{dvd.studio}}</h5>
    <h4 style="color: rgb(0, 150, 0);"><span matPrefix>$&nbsp;</span>{{dvd.price}}</h4>
    <h6 style="font-size: 12px;" >{{dvd.time}} min</h6>

  </mat-card>
</div>
