<div class="py-5 fs-2 text-center">
  <div class="pt-5">Laptops</div>
</div>
<div class="content"  >
  <mat-card  class="cards" *ngFor="let laptop of laptops" >
    <mat-card-title class="title" style="font-size: 20px;">{{laptop.product}}</mat-card-title>
    <h6 style="font-size: 12px;" >{{laptop.brand}}</h6>
    <h6  style="font-size: 16px;">{{laptop.memory}}</h6>
    <h5  style="color: rgb(107, 107, 107);font-size: 14px;">{{laptop.CPU}}</h5>
    <h4 style="color: rgb(0, 150, 0);"><span matPrefix>$&nbsp;</span>{{laptop.price}}</h4>
  </mat-card>
</div>
