<main>
    <div id="hero-carousel" class="carousel slide pt-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="6" aria-label="Slide 6"></button>
        </div>
    
        <div class="carousel-inner">
          <div class="carousel-item active c-item">
            <img src="\assets\images\bike.jpg" class="d-block c-img" alt="Slide 1">
            <div class="carousel-caption top-0 mt-4">
              <p class="mt-5 fs-3 text-uppercase">Enjoy your Freedom on two wheels</p>
              <h1 class="display-1 fw-bolder text-capitalize">Bikes</h1>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5"><a href="" class="text-decoration-none text-light" routerLink="/bikes">Visit bike store</a></button>
            </div>
          </div>
          <div class="carousel-item c-item">
            <img src="\assets\images\food.jpg" class="d-block w-100 c-img" alt="Slide 2">
            <div class="carousel-caption top-0 mt-4">
              <p class="text-uppercase fs-3 mt-5">Giving your Hunger a new Option</p>
              <p class="display-1 fw-bolder text-capitalize">Food</p>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                data-bs-target="#booking-modal"><a href="" class="text-decoration-none text-light" routerLink="/foods">Visit food store</a></button>
            </div>
          </div>
          <div class="carousel-item c-item">
            <img src="\assets\images\books.jpg" class="d-block w-100 c-img" alt="Slide 3">
            <div class="carousel-caption top-0 mt-4">
              <p class="text-uppercase fs-3 mt-5">Inspiration for every age</p>
              <p class="display-1 fw-bolder text-capitalize">Books</p>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                data-bs-target="#booking-modal"><a href="" class="text-decoration-none text-light" routerLink="/books">Visit book store</a></button>
            </div>
          </div>
          <div class="carousel-item c-item">
            <img src="\assets\images\toys.jpg" class="d-block w-100 c-img" alt="Slide 4">
            <div class="carousel-caption top-0 mt-4">
              <p class="text-uppercase fs-3 mt-5">Your Toy, Your Passion. Pick the best!</p>
              <p class="display-1 fw-bolder text-capitalize">Toys</p>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                data-bs-target="#booking-modal"><a href="" class="text-decoration-none text-light" routerLink="/toys">Visit toy store</a></button>
            </div>
          </div>
          <div class="carousel-item c-item">
            <img src="\assets\images\laptop.jpg" class="d-block w-100 c-img" alt="Slide 5">
            <div class="carousel-caption top-0 mt-4">
              <p class="text-uppercase fs-3 mt-5">Designed with precision. Loaded with features. Made affordable for you</p>
              <p class="display-1 fw-bolder text-capitalize">Laptops</p>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                data-bs-target="#booking-modal"><a href="" class="text-decoration-none text-light" routerLink="/laptops">Visit laptop store</a></button>
            </div>
          </div>
          <div class="carousel-item c-item">
            <img src="\assets\images\DVDs.jpg" class="d-block w-100 c-img" alt="Slide 6">
            <div class="carousel-caption top-0 mt-4">
              <p class="text-uppercase fs-3 mt-5">Rewind the happiness</p>
              <p class="display-1 fw-bolder text-capitalize">DVDs</p>
              <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                data-bs-target="#booking-modal"><a href="" class="text-decoration-none text-light" routerLink="/dvd">Visit DVD store</a></button>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="px-sm-5 pt-5 container-fluid">
        <div class="px-5">
          <div class="fs-1 mb-4">Categories</div>
          <div class="row">
            <div class="row hidden-md-up gx-5 justify-content-md-center">
              <div class="col-md-4 mb-4 mb-sm-5 mb-4 mb-sm-5">
                <div class="card">
                  <img src="\assets\images\bike.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Bikes</h5>
                    <a href="" routerLink="/bikes" class="text-decoration-none">See more...</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-4 mb-sm-5">
                <div class="card">
                  <img src="\assets\images\orderfood.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Food</h5>
                    <a href="" routerLink="/foods" class="text-decoration-none">See more...</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-4 mb-sm-5">
                <div class="card">
                  <img src="\assets\images\orderbook.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Books</h5>
                    <a href="" routerLink="/books" class="text-decoration-none">See more...</a>
    
                  </div>
                </div>
              </div>
            </div>
            <div class="row hidden-md-up pb-md-5 gx-5 justify-content-md-center">
              <div class="col-md-4 mb-4 mb-sm-5">
                <div class="card">
                  <img src="\assets\images\ordertoy.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Toys</h5>
                    <a href="" routerLink="/toys" class="text-decoration-none">See more...</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-4 mb-sm-5">
                <div class="card">
                  <img src="\assets\images\orderlaptop1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Laptops</h5>
                    <a href="" routerLink="/laptops" class="text-decoration-none">See more...</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-4 mb-sm-5">
                <div class="card">
                  <img src="\assets\images\orderDvD.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">DVDs</h5>
                    <a href="" routerLink="/dvd" class="text-decoration-none">See more...</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</main>