<main>
  <nav class="px-sm-5 navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="px-sm-5 container-fluid">
      <a class="navbar-brand" href="#"><h3 class="my-0">FidZulu</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/bikes">Bikes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/books">Books</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/dvd">DVDs</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/foods">Food</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/laptops">Laptops</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/toys">Toys</a></li>

            </ul>
          </li>
        </ul>

        <form class="d-flex" role="radio">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
            <label class="form-check-label text-light" for="inlineRadio1">Raleigh</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label text-light" for="inlineRadio2">Durham</label>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <div class="footer pt-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-light text-muted pt-5">
      <section class="">
        <div class="container text-center text-md-start">
          <div class="row text-light text-decoration-none">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="fs-3 fw-bold mb-4">
                FidZulu
              </h6>
              <p>
                Selling only the best things online
              </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                FrontEnd Team
              </h6>
              <p>Akilandeshwari R</p>
              <p>Pavithra B</p>
              <p>Rakshitha M</p>
              <p>Sasmithaa V S</p>
              <p>Sushmitha B R</p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                Midtier team
              </h6>

            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Backend Team</h6>
              <p></p>
            </div>
          </div>
        </div>
      </section>
      <div class="text-center text-light p-4">
        <hr>
        © 2022 Copyright:
        <a class="text-reset text-decoration-none fw-bold" href="#">Fidelity FSE1-FidZulu</a>
      </div>
    </footer>
  </div>
</main>



